#Commented out if not nescessary for main purpose of branch


#Data Proscessing
-r data_processing/requirements.txt

#Machine Learning
-r machine_learning/requirements.txt

#Pathfinding
-r pathfinding/requirements.txt